




<p>
<strong>question_id:</strong>
<%= @question.content %>
</p>

<p>
<strong>Content:</strong>
<%= @question.content %>
</p>

<p>
<strong>selection_option:</strong>
<%= @question.selection_option %>
</p>

<p>
<strong>skill_area:</strong>
<%= @question.skill_area %>
</p>


